 <h2 class="page-header text-center">TSK LIST</h2>
<h3 class="text-muted">Welcome to your To-Do List</h3>
<div class="form-group"> 
<form action="/tasks" method="post">
    <input type="text" class="form-control" placeholder="enter task" name="task">
    <button id="btnTask"class="btn btn-default" type="submit">Submit</button>
</form>
</div>